{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h1>Informations étudiant</h1>
        <div>
            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}