<h1>Une nouvelle entreprise s'est inscrite sur l'application : {{ enterprise.name }} </h1>

<p>Son statut est pour l'instant en attente, elle n'est pas visible par les étudiants et elle ne peut pas poster d'offres.</p>
<p>Si ses informations sont correctes, vous pourrez passer son statut en "Validée".</p>
