<h1>Bonjour et bienvenue sur l'appli Stages! veuillez confirmer votre mail !</h1>

<p>
    Veuillez confirmer votre email en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon email</a>.
</p>
