<h1>Candidature sur l'offre {{ offer.name }}</h1>

<p>Votre candidature sur l'offre {{ offer.name }} n'a pas été acceptée.</p>
<p>Vous pouvez toujours candidater sur les autres offres encore disponibles</p>