<h1>Confirmation de votre candidature sur l'offre {{ offer.name }}</h1>

<p>{{ offer.enterprise.name }} verra désormais votre candidature sur son offre.</p>
<p>Si le statut de votre candidature est modifié, vous serez notifié par mail</p>
