<h1>Confirmation de votre candidature spontanée chez {{ enterprise.name }}</h1>

<p>{{ enterprise.name }} a bien reçu votre candidature spontanée.</p>
<p>Vous recevrez bientôt une réponse de leur part.</p>
