{% extends 'base.html.twig' %}

{% block body %}

    {% include "_search_data.html.twig" with {
        form: form ?? null
    } %}

    <div class="grid grid-cols-2 gap-8 mx-auto justify-stretch">
        {% for offer in offers %}
            {% include 'card/card.html.twig' with
                {
                    'offer': offer,
                    'candidacies': candidacies,
                } %}
        {% endfor %}
    </div>

{% endblock %}
