{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    {% include 'recherche/recherche.html.twig' %}

    <div class="grid grid-cols-2 gap-8 mx-auto justify-stretch" >
    {% for offer in offers %}
        {%  include 'card/card.html.twig' with
            {
                'offer': offer,
                'candidacies': candidacies,
            }
        %}
    {% endfor %}
</div>
{% endblock %}
