@tailwind base;
@tailwind components;
@tailwind utilities;


.text-style-3lines {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.pill-holder::-webkit-scrollbar {
    display: none;
}

.pill {
    @apply font-semibold text-white text-xs rounded-full bg-red-700 p-2 w-fit min-w-fit text-center
}

.pill-holder {
    @apply flex space-x-2 mb-4 max-w-[20rem] overflow-scroll
}

.link-holder {
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.3em;
}

.card {
    @apply justify-around border-2 border-gray-700 p-4 flex flex-col rounded-lg
}

.offre{
    /* width:100% */ ;
    border:0.4px solid black;
    border-radius:20px;
    padding: 2em;
}
.btn {
    @apply p-2 text-white rounded-md;
}

.bg-Validée {
    @apply bg-green-500;
}

/* Statut en attente */
.bg-En {
    @apply bg-purple-500;
}

.bg-Refusée {
    @apply bg-red-500;
}

.bg-Pourvue {
    @apply bg-green-500;
}

optgroup {
    @apply font-semibold inline-grid mx-auto;
}

select {
    @apply space-x-4;
}

select::-webkit-scrollbar {
    display: none;
}



