{% block body %}
<div class="card">

    <div >
        <h1> {{ offer.name }}</h1>
    </div>

    <div class="pill-container">
        <div class="pill-holder">
            <div class="pill bg-red-700" >Back</div>
            <div class="pill bg-sky-500 ">Design</div>
            <div class="pill bg-amber-300">Front</div>
        </div>
    </div>


    <div>
        <p class="candidatures">Il y a {{ offer.candidacies|length }} candidatures</p>
    </div>

    <div>
        <img src="{{ asset('icon/icon.png')}}" alt="logo de l'entreprise">
    </div>

    <div >
        <p class="text-style-3lines">
            {{ offer.description }}
        </p>
    </div>

    <div class="link-container">
        <div class="link-holder">
            <div><a href="#" class="offer-cta text-white bg-blue-second p-1">En savoir +</a></div>
            <div><a href="#" class="offer-cta text-white p-1 bg-blue-first ">Postuler</a></div>
        </div>
    </div>


</div>
{% endblock %}