<div>
    <div>
        <h1>C'est une offre</h1>
    </div>

    <div>
        <ul>
        <li> Dev</li>
        <li> Web</li>
        <li>Front </li>
        </ul>
    </div>

    <div>
        <p> Il y a 0 Candidature</p>
    </div>

    <div>
        <img src="{{ asset('icon/icon.png')}}" alt="">
    </div>

    <div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nunc condimentum ac velit vitae ultricies. Mauris congue
            est neque. Suspendisse vitae dui vel justo scelerisque egestas
            at non neque. Fusce volutpat volutpat mi non imperdiet. Fusce
            tempor purus nulla, sollicitudin interdum enim dictum a.
        </p>
    </div>

    <div>
        <div>
            <a href="#">En savoir +</a>
        </div>
        <div>
            <a href="#">Postuler</a>
        </div>
    </div>


</div>