{% extends 'base.html.twig' %}

{% block body %}

    <div class="w-3/4 mx-auto">
    <h1>Informations de votre entreprise</h1>
    {{ form_start(form) }}
    {{ form_end(form) }}
</div>
{% endblock %}
