{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}

    <div class="flex flex-col gap-10">
        <!-- part 1 : pie & doughnut charts -->
        <div class="flex">
            <div class="flex-initial w-1/2">
                <p>Charte 1 : Nouvelles inscription de la semaine dernière</p>
                <div style="height: 300px;">
                    {{ render_chart(lastStudentsAndEnterprises) }}
                </div>
            </div>
            <div class="flex-initial w-1/2">
                <p>Charte 2 : Nombre total d'étudiants et d'entreprises</p>
                <div style="height: 300px;">
                    {{ render_chart(allStudentsAndEnterprises) }}
                </div>
            </div>
        </div>
        <!-- end part 1  -->

        <div class="flex w-full justify-center">
            <div class="flex-initial w-2/3">
                <p>Charte 3 : Avancement des recherches</p>
                <div style="height: 300px;">
                    {{ render_chart(studentsFoundStage) }}
                </div>
            </div>
        </div>

        <div class="flex">
            <div class="w-full">
                <p>charte 1 : Nombres de fois que les tags sont utilisés</p>
                <div style="max-height: 300px;">
                    {{ render_chart(allTagsChart) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}