{% extends 'base.html.twig' %}

{% block body %}

    <div>
        <form action="{{ path('app_search') }}" class="flex w-11/12 max-w-[550px]">
            <div class="relative w-full">
                <div class="absolute inset-y-0 flex items-center pl-3 pointer-events-none">
                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
                         viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                              clip-rule="evenodd"></path>
                    </svg>
                </div>

                <input type="text" name="query" id="query"
                       class="text-sm rounded-lg focus:ring focus:ring-blue-500 focus:ring-opacity-50
                   focus:border-none w-full pl-10 p-2.5"
                       placeholder="Chercher par intitulé de poste, compétence entreprise ou location" required
                />
            </div>
        </form>
    </div>

    <div class="grid grid-cols-2 gap-8 mx-auto">
        {% for quote in quotes %}
            {% if quote.status.status == 'Validée' %}
                {% include 'card/card.html.twig' with
                    {
                        'offer': quote,
                        'candidacies': candidacies,
                    } %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
