{% extends 'base.html.twig' %}

{% block title "Inscription - ARSA" %}

{% block body %}
<div class="w-3/4 mx-auto">
    <h1 class="text-center font-semibold text-2xl">Création de compte</h1>

    <div class="flex">
        <div class="w-1/2">
            <h2 class="text-center text-xl">Formulaire entreprise</h2>
            {{ form_start(enterprise_form) }}
            {{ form_end(enterprise_form) }}
        </div>
        <div class="w-1/2">
            <h2 class="text-center text-xl">Formulaire Étudiant</h2>
            {{ form_start(student_form) }}
            {{ form_end(student_form) }}
        </div>
    </div>
</div>
{% endblock %}
