{% extends 'base.html.twig' %}

{% block title %}Modification de votre offre{% endblock %}

{% block body %}
    <h1>Edit Offers</h1>

    {{ include('offers/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
    {{ include('offers/_delete_form.html.twig') }}

    <a href="javascript:history.back()">back to list</a>


{% endblock %}
