{% extends 'base.html.twig' %}

{% block title %}Modification de votre offre{% endblock %}

{% block body %}
    <h1 class="w-full text-center">Modification de votre offre</h1>

    <a href="javascript:history.back()">
        <div class="flex items-center gap-3 mb-2">
            <svg width="20" height="auto" viewBox="0 0 36 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.439339 10.9393C-0.146447 11.5251 -0.146446 12.4749 0.439341 13.0607L9.98529 22.6066C10.5711 23.1924 11.5208 23.1924 12.1066 22.6066C12.6924 22.0208 12.6924 21.0711 12.1066 20.4853L3.62132 12L12.1066 3.51471C12.6924 2.92892 12.6924 1.97917 12.1066 1.39339C11.5208 0.807603 10.5711 0.807604 9.98527 1.39339L0.439339 10.9393ZM36 10.5L1.5 10.5L1.5 13.5L36 13.5L36 10.5Z"
                      fill="black"/>
            </svg>
            Retour à l'accueil
        </div>
    </a>

    {{ include('offers/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <div class="flex mt-1 w-1/4">
        {{ include('offers/_delete_form.html.twig') }}
    </div>
{% endblock %}
