{% extends 'base.html.twig' %}
{% block title %}New Offers{% endblock %}

{% block body %}


<div class="w-3/4 mx-auto">
    <h1 class="text-center">Création d'une offre</h1>
    <div class="mt-2 mb-3">
        <a href="javascript:history.back()" class="rounded-md p-2 text-white bg-sky-500 hover:bg-sky-600">Retour à la liste</a>
    </div>
    {{ include('offers/_form.html.twig') }}
    <div class="mt-2">
        <a href="javascript:history.back()" class="rounded-md p-2 text-white bg-sky-500 hover:bg-sky-600">Retour à la liste</a>
    </div>

</div>

{% endblock %}
